/* You can add global styles to this file, and also import other style files */


/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }
/* 

.ag-fresh .ag-ltr   .ag-cell-no-focus {
    border-right: 1px solid #e0e0e0;

  }

  .ag-fresh .ag-header {
    color: white; 
    background: #2c83e8; 
    font-weight: normal;
}

.ag-fresh .ag-ltr .ag-header-cell
 {
    border: 1px solid white;
} */

/* #F1F2F2 */