<p>
  home works!
</p>

<button class="btn btn-primary btn-sm" (click)="clicked()">Load</button>

<br>

 <div class="row">
    <div class="col-12">
      <ngb-tabset [destroyOnHide]="false">
        <ngb-tab title="Simple">
          <ng-template ngbTabContent>
         
            Simple Tab
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
          <ng-template ngbTabContent>
            <app-car>/</app-car>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div> 
  </div>
  

